*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: .8px;
    word-break: normal;
    color: #fff;
}

a {
    text-decoration: none;
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0.5px gray;

}

ul li {
    list-style: none;
}

ol li {
    list-style: disc;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

contact-image .hover-action {
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translate(0, -4px);
    transform: translate(0, -4px);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

/*--------------------------------
 charactors
---------------------------------*/
.heading-primary {
    font-family: "Open sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: .05em;
}

.heading-secondary {
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: .05em;
}

.section-heading {
    margin-bottom: 20px;
    text-align: center;
}

.section-lead {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

/*--------------------------------
 Layouts
---------------------------------*/
.wrapper {
    padding-top: 68px;
    background-color: #82c985;
}

.section {
    padding: 120px 0;
    background-color: #82c985;
}

.section:nth-of-type(odd) {
    background-color: #7aa57d;
}

.inner {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
}

/*--------------------------------
Header
---------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
    background-color: #82c985;
}

.logo {
    position: relative;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
}

.logo-title {
    font-family: "Open sans", sans-serif;
    font-size: 64px;
    line-height: 1;
    letter-spacing: .2em;
}

.logo-subtitle {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    letter-spacing: .2em;
}

/*--------------------------------
 Navigation
---------------------------------*/
.gnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #7aa57d;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gnav-item {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0 24px;
    letter-spacing: .05em;
/*    margin-left: auto;*/
}

.gnav-lang:last-child {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    padding: 20px 40px;
    letter-spacing: .05em;
    margin-left: auto;
}

a.btn-border {
    position: relative;
    display: inline-block;
    padding: 1px 10px;
    -webkit-transition: .3s;
    transition: .3s;
    border: 0.5px solid #fff;
    color: #fff;
}

a.btn-border:hover {
    color: #000;
    background: #fff;
}

.gnav-link {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff;
}

.gnav-link:hover {
    opacity: 1;
}

.gnav-link:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
}

.gnav-link:hover:after {
    width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
    display: none;
}

.top-image {
    border-radius: 50%;
    box-shadow: 0 0 25px 0 #d9d9d9;
}

.top-image-wrapper {
    flex: 0 0 80px;
}


/*--------------------------------
About
---------------------------------*/
.about-section .inner {
    max-width: 1000px;
}

.about-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-image-wrapper {
    flex: 0 0 80px;
    margin-left: 80px;
    margin-right: 20px;

}

.about-image-wrapper2 {
    flex: 0 0 80px;
}

.about-image {
    border-radius: 50%;
}

.about-body {
    flex: 1;
    text-align: center;
    color: aliceblue;
}

.about-body2 {
    flex: 1;
    margin-left: 20px;
    /*    margin-right: 80px;*/
}

.about-body p:not(:last-child) {
    margin-bottom: 20px;
}

.year {
    font-weight: bold;
    font-style: italic;
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-color: #f76a35;
    /*
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
*/
}

.btn-gradient-radius:hover {
    background-color: #f76a58;
    /*    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);*/
}

/*===== Vertical Timeline =====*/
#conference-timeline {
    position: relative;
    max-width: 920px;
    width: 80%;
    margin: 0 auto;
}

#conference-timeline .conference-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #ccc;
/*    z-index: -1;*/
}

#conference-timeline .conference-timeline-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
}

.timeline-article .content-left,
.timeline-article .content-right {
    position: relative;
    width: auto;
/*    border: 1px solid #ddd;*/
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .03);
    padding: 15px 15px;
    border-radius: 10px;
}

.timeline-article p {
    margin: 0 0 0 0px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 14px;
    line-height: 24px;
    position: relative;
}

.timeline-article p span.article-number {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    top: 10px;
    left: -60px;
    color: #f76a35;
}

.timeline-article .content-left-container {
    float: left;
}

.timeline-article .content-right-container {
    float: right;
}

.timeline-article .content-left:before,
.timeline-article .content-right:before {
    position: absolute;
    top: 12px;
    font-size: 23px;
    font-family: "FontAwesome";
    color: #fff;
}

.timeline-article .content-left:before {
    content: "\f0da";
    right: -8px;
}

.timeline-article .content-right:before {
    content: "\f0d9";
    left: -8px;
}

.timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
}
/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {

    #conference-timeline .conference-center-line {
        margin-left: 0;
        left: 20px;
    }
    
    #conference-timeline .timeline-start,
    #conference-timeline .timeline-end {
        margin: 0;
    }

    .timeline-article .meta-date {
        width: 42px;
        height: 42px;
        margin-left: 0;
        margin-top: 10px;
        left: 0px;
    }

    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
        max-width: 100%;
        width: auto;
        float: none;
        margin-left: 60px;
        min-height: 53px;
    }

    .timeline-article .content-left-container {
/*        margin-bottom: 20px;*/
    }

    .timeline-article .content-left,
    .timeline-article .content-right {
        padding: 10px 10px;
        min-height: 65px;
    }

    .timeline-article .content-left:before {
        content: "\f0d9";
        right: auto;
        left: -8px;
    }

    .timeline-article .content-right:before {
        content: "\f0d9";
        right: auto;
        left: -8px;
    }
    
    .timeline-article p {
        margin: 0;
        font-size: 12px;
    }
    
    .timeline-article p span.article-number {
        font-weight: 300;
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {

    .timeline-article p span.article-number {
        font-weight: 300;
        font-size: 12px;
    }

}

/*===== // Resonsive Vertical Timeline =====*/

/*--------------------------------
 Works
---------------------------------*/
.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -40px;
}

.works-item {
    flex: 0 0 32.31552%;
    margin-right: 1.52671%;
    margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
    margin-right: 0;
}

.works-body {
    text-align: center;
}

.works-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}

.works-text {
    font-size: 12px;
}

.works-url {
    font-size: 12px;
}

.works-image.fadein {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    opacity: 0;
    border-style: solid;
}

.works-image.fadein.lazyloaded {
    opacity: 1;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
    max-width: 1000px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
/*    margin-left: 50px;*/
}

.skill-item {
    margin-bottom: 50px;
}

.skill-image-wrapper {
    flex: 0 0 60px;
    margin-right: 20px;
}

.skill-image-wrapper-inner {
    flex: 0 0 60px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 60px;
}

.skill-body {
    flex: 1;
}

.skill-body p:not(:last-child) {
    margin-bottom: 20px;
}

.skill-title {
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    text-align: left;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    width: 50px;
    margin: 0 20px;
    text-align: center;
}

.contact-text {
    margin-top: 10px;
    text-align: center;
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
    background-color: #7aa57d;
}

.footer .inner {
    padding: 30px;
}

.copyright {
    font-size: 10px;
    text-align: center;
    color: #fff;
}

.page-top {
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #ccc;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
    body {
        font-size: 13px;
        line-height: 1.7;
    }

    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }

    .hover-action {
        -webkit-transition: none;
        transition: none;
    }

    .hover-action:hover {
        -webkit-transition: none;
        transition: none;
        -webkit-transform: none;
        transform: none;
    }

    /* 文字 */
    .section-heading {
        margin-bottom: 20px;
    }

    .heading-primary {
        font-size: 22px;
        font-weight: bold;
    }

    /* レイアウト */
    .wrapper {
        padding-top: 82px;
    }

    .section {
        padding: 60px 0;
    }

    .section .inner {
        padding: 0 15px;
    }

    /* ヘッダー */
    .header {
        height: 70vh;
    }

    .logo-title {
        font-size: 28px;
        letter-spacing: .16em;
    }

    .logo-subtitle {
        font-size: 14px;
    }
    
    .top-image-wrapper {
        width: 100px;
        max-width: 100%;
        margin: 0 auto 20px;
    }

    /* グローバルナビ */
    .gnav {
        padding: 15px 0;
    }

    .gnav-item {
        font-size: 13px;
        padding: 2px 15px;
    }
    
    .gnav-lang:last-child {
        font-family: "Open sans", sans-serif;
        font-size: 10px;
        padding: 2px 15px;
        letter-spacing: .05em;
        margin-left: auto;
    }

    .gnav-link {
        padding: 0;
    }

    .gnav-link:hover {
        opacity: 1;
    }

    .gnav-link:after {
        display: none;
    }

    /* Works */
    .works-body {
        text-align: left;
    }

    .works-title {
        font-size: 10px;
    }

    .works-list {
        justify-content: space-between;
    }

    .works-item {
        flex: 0 0 48%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    /* About */
    .about-item {
        display: block;
    }

    .about-image-wrapper {
        width: 100px;
        max-width: 100%;
        margin: 0 auto 20px;
    }

    /* Skill */
    .skill-title {
        font-size: 16px;
    }
    .skill-list {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .skill-item {
        max-width: 100%;
        margin-bottom: 35px;
    }

    .skill-item:last-child {
        margin-bottom: 0;
    }

    .skill-image-wrapper {
        flex: 0 0 75px;
        margin-right: 15px;
    }

    .rate {
        font-size: 15px;
        height: 15px;
    }

    .rate:before,
    .rate:after {
        line-height: 15px;
        height: 15px;
    }

    .rate1:after {
        width: 15px;
    }

    .rate2:after {
        width: 35px;
    }

    .rate3:after {
        width: 55px;
    }

    .rate4:after {
        width: 75px;
    }

    .rate5:after {
        width: 95px;
    }

    /* Contact */
    .contact-item {
        width: 40px;
        margin: 0 10px;
    }

    /* フッター */
    .footer .inner {
        padding: 20px 0;
    }
}

@media screen and (max-width: 400px) {
    /* グローバルナビ */
    .gnav {
        padding: 10px 0;
    }

    .gnav-item {
        font-size: 12px;
        padding: 2px 8px;
    }

    .gnav-lang:last-child {
        font-family: "Open sans", sans-serif;
        font-size: 10px;
        padding: 2px 10px;
        letter-spacing: .0em;
        margin-left: auto;
    }

    .gnav-link {
        padding: 0;
    }

    .gnav-link:hover {
        opacity: 1;
    }

    .gnav-link:after {
        display: none;
    }
    
    /* Works */
    .works-body {
        text-align: center;
    }

    .works-title {
        font-size: 10px;
    }

    .works-list {
        justify-content: center;
    }

    .works-item {
        flex: 0 0 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

}

